@model Todo.Models.Todotask

@{
    ViewBag.Title = "New Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Task</h2>
<hr />
@using (Html.BeginForm("SaveTask", "Todotask"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Done) Completed?
        </label>
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save Task</button>
}